MICROCMS_SERVICE_DOMAIN=nom2
MICROCMS_API_KEY=
MICROCMS_ENDPOINT=article

RAKUTEN_APP_ID=
RAKUTEN_ACCESS_KEY=
RAKUTEN_AFFILIATE_ID=

OPENAI_API_KEY=

GEMINI_API_KEY=
GEMINI_IMAGE_MODEL=gemini-2.5-flash-image

GITHUB_TOKEN=
GITHUB_REPO=chieri639/nom2.jp
GITHUB_BRANCH=main
